@import '../../../components/GlobalStyles/setting/var';
@import '../../../components/GlobalStyles/setting/type';

//---------------- CONTENT STYLED ---------------//

.intro-left {
    margin-top: 250px;
    margin-bottom: 100px;
    :global(.ant-space-item) {
        margin-bottom: 20px;
    }
}
.intro-container {
    padding: 0 120px;
}

.box {
    width: 100%;
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.text {
    color: rgb(214, 214, 214);
    font-size: $font-size__m;
    text-transform: uppercase;
    letter-spacing: 0.09em;
}
.text-large {
    color: $color-white;
    font-size: 70px;
}

.text-normal {
    text-transform: none;
}
